@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Lato', sans-serif;
}

.clear-fix{
    clear: both;
}

/* Typography */

h1{
    font-size: 1.8rem;
    line-height: 2rem;
}

h2{
    font-size: 1.6rem;
    line-height: 1.8rem;
}

h3{
    font-size: 1.2rem;
    line-height: 1.4rem;
}

h4{
    font-size: 1rem;
    line-height: 1.3rem;
}

h5{
    font-size: 0.9rem;
    line-height: 1.2rem;
}

h6{
    font-size: 0.8rem;
    line-height: 1.1rem;
}

/* Layouts */

header{

    /* background-color: brown; */
}

main{
    background-color: red;
}

footer{
    background-color: lawngreen;
}

.container{
    width: 1170px;
    overflow: hidden;
}

nav, ul{
    overflow: hidden;
}

/* header */

.container>div>div{
    padding-top: 10px;
}

#top-row{
    padding: 10px 0;
    height: 80px;
}

#top-row>.container{
    margin-left: auto;
    margin-right: auto;
}

#nav-row{
    background-color: blue;
}

#logo{
    height: 60px;
    padding-left: 15px;
}

#top-row>.container>img{
    float: left;
}

#top-row>.container>div{
    float: right;
}


/* #img-row>.container>div{
    float: right;
} */

#nav-lang>li{
    cursor: pointer;
}

#nav-lang>li:hover{
    text-decoration: underline;
    color: #ff9d1e;
}

#nav-lang li{
    float: right;
    padding: 5px;
    margin-left: 10px;
    font-size: 0.8rem;
    font-size: 12px;
}

#main-nav li{
    float: left;
    padding: 10px 20px 0;
    font-size: 0.8rem;
    /* font-size: 14px; */
}

#main-nav li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#main-nav{
    float: left;
}

#smi-container>li{
    float: left;
    padding: 5px;
    background-color: yellow;
    margin-left: 10px;
}

#smi-container>li:nth-child(1) {
    cursor: pointer;
    background-color: #3f4da1;
}
#smi-container>li:nth-child(2) {
    cursor: pointer;
    background-color: #57a0d7;
}
#smi-container>li:nth-child(3) {
    cursor: pointer;
    background-color: #57a0d7;
}
#smi-container>li:nth-child(4) {
    cursor: pointer;
    background-color: #d74527;
}
#smi-container>li>ion-icon {
    color: white;
}

