@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.clear-fix{
    clear: both;
}

.clear-fix::after{
    display: block;
    content: "";
    clear: both;
}

/* Typography */

h1{
    font-size: 2rem;
    line-height: 2.2rem;
}

h2{
    font-size: 1.8rem;
    line-height: 2.0rem;
}

h3{
    font-size: 1.2rem;
    line-height: 1.4rem;
}

h4{
    font-size: 1rem;
    line-height: 1.2rem;
}

h5{
    font-size: 0.9rem;
    line-height: 1.1rem;
}

h6{
    font-size: 0.8rem;
    line-height: 1rem;
}

/* Layouts */

.container{
    width: 1170px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
}

#app-row{
    /* background-color: yellow; */
    height: 80px;
}

#app-row>.container{
    /* background-color: teal; */
    height: 100%;
    padding: 10px 0;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

#logo{
    height: 60px;
    /* float: left; */
}

#app-row>.container>.wrapper{
    float: right;
    /* background-color: rgb(96, 231, 33); */
    width: 70%;
    height: 100%;
}

#app-row>.container>image{
    /* background-color: aquamarine; */
    float: left;
}



#app-row>.container>.wrapper>.row:first-child{
    /* background-color: white; */
}

#app-row>.container>.wrapper>.row:last-child{
    /* background-color: rgb(28, 101, 150); */
}

#nav-lang{
    float: right;
}

nav>li>a{
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
}

#nav-lang li{
    float: left;
    padding-left: 20px;  
}

#nav-lang>li>a:hover{
    cursor: pointer;
    color: #ff9d1e;
    text-decoration: underline;
}

#main-nav{
    float: left;
    /* background-color: yellow; */
    padding-top: 25px;
}

#main-nav li{
    float: left;
    padding: 0 25px;
}

#main-nav>nav>li>a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#smi-container{
    float: right;
    padding-top: 18px;
}

#smi-container>ul>li{
    /* background-color: green; */
    float: left;
    margin-left: 10px;
}

#smi-container>ul>li>a>ion-icon{
    padding: 5px;
    font-size: 18px;
}

#smi-container>ul>li:nth-child(1){
    background-color: #3f4da1;
}

#smi-container>ul>li:nth-child(2){
    background-color: #57a0d7;
}

#smi-container>ul>li:nth-child(3){
    background-color: #57a0d7;
}

#smi-container>ul>li:nth-child(4){
    background-color: #d74527;
}

#smi-container>ul>li>a>ion-icon {
    color: white;
}

/* Nav Row */

#nav-row{
    background-color: #231f20;
}

#nav-row nav li{
    float: left;
}

#nav-row>.container>nav>li>a{
    display: inline-block;
    color: white;
    padding: 15px;
    position: relative;
}

#nav-row>.container>nav>li>a:hover{
    cursor: pointer;
    background-color: #ff9d1e;
    color: #2b2b2b;
}

#nav-row nav li a::after{
    opacity: 0;
    position: absolute;
    display: block;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ff9d1e;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

#nav-row nav li a:hover::after{
    opacity: 1;
}

#misc-row{
    background-color: #ffde00;
    text-align: right;

}

#misc-row .btn{
    display: inline-block;
    background-color: #107ece;
    color: white;
    border-bottom: 2px solid #0f027b;
    padding: 0 10px;
    text-transform: uppercase;
    line-height: 40px;
    text-decoration: none;
    margin: 4px 0;
    height: 40px;
    font-size: 13px;
    border-radius: 4px;
    
    
}

#misc-row .btn:hover{
    background-color: #0865a9;
}


/* main */
main>.row:first-child, 
main>.row:first-child>.container{
    height: 90px;
}

main>.row:first-child>.container>.col{
    padding: 20px 10px 0;
    height: 100%;
}

main .row:first-child>.container>.col:first-child{
    /* background-color: #d74527; */
    width: 75%;
    float: left;
}

main .row:first-child>.container>.col:last-child{
    /* background-color: #054981; */
    width: 25%;
    /* float: right; */
}

main .row:first-child>.container>.col:first-child>ul li{
    width: 20%;
    /* background-color: yellow; */
    /* border: 1px solid black; */
    float: left;
    text-align: right;
}

main .row:first-child>.container>.col:first-child>ul li h3{
    font-size: 18px;
    padding: 10px 0;
}

main .row:first-child>.container>.col:first-child>ul li a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    /* width: 60px;
    text-align: center; */
}

main .row:first-child>.container>.col:first-child>ul li a:hover{
    text-decoration: underline;
}

main .row:first-child>.container>.col:first-child>ul li img{
    border: 3px solid transparent;
}

main .row:first-child>.container>.col:first-child>ul li a:hover img{
    border: 3px solid #ffde00;
}

main .row:first-child>.container>.col:first-child>ul li .country-code{
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 0.7rem;
}


main>.row:nth-child(2)>.container>.col{
    padding: 20px;
    float: left;
    /* height: 420px; */
    /* background-color: #0865a9; */
}

main>.row:nth-child(2)>.container>.col:first-child{
    width: 75%;
    /* background-color: yellow; */
}

main>.row:nth-child(2)>.container>.col:last-child{
    width: 25%;
    /* float: right; */
    /* background-color: lightcoral; */
}

main>.row:nth-child(2)>.container>.col:last-child svg{
    height: 30px;
}

main>.row:nth-child(2)>.container>.col:last-child>ul{
    border-top: 1px solid #ececec;
}

main>.row:nth-child(2)>.container>.col:last-child>ul>li{
    text-transform: uppercase;
    display: table;
    font-size: 0.9rem;
    width: 100%;
    border-bottom: 1px solid #ccc;
}


main>.row:nth-child(2)>.container>.col:last-child>ul>li:hover{
    background-color: #525252;
    color: #ff9d1e;
}

main>.row:nth-child(2)>.container>.col:last-child>ul>li>a{
    display: table-row;
    text-decoration: none;
    color: black;
}

main>.row:nth-child(2)>.container>.col:last-child>ul>li>a:hover, 
main>.row:nth-child(2)>.container>.col:last-child>ul>li>svg:hover{
    color: #ff9d1e;
    fill: #ff9d1e;
}



main>.row:nth-child(2)>.container>.col:last-child>ul>li>a>div{
    display: table-cell;
    padding: 10px 10px 10px 20px;
    /* border: 1px solid black; */
    line-height: 1.1rem;
    vertical-align: middle;
}

main>.row:nth-child(2)>.container>.col:last-child>ul>li>a>div:first-child{
    width: 90%;
}

#cal{
    padding-right: 8px;
}




/* Slide */

#slider{
    position: relative;
    margin-top: 20px;
    padding: 0 10px;
    height: 388px;
}

#slider-wrapper{
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; 
    /* position: relative; */
    /* animation-name: slide-animation; */
    /* animation-duration: 15s; */
    /* animation-iteration-count: infinite; */
}

.slide{
    position: relative;
    scroll-snap-align: center;
    position: absolute;
    background-repeat: no-repeat;
    height: 388px;
    background-size: contain;
    background-position: center;
    width: 100%;
}



.slide .prev, .slide .next{
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: rgba(128,130,133,0.9);
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
}

.slide .prev:hover, .slide .next:hover{
    background-color: rgba(128,130,133,0.8);
}

.slide .prev{
    left: 20px;
}

.slide .next{
    right: 20px;
}

.slide ion-icon{
    color: white;
    vertical-align: sub;
}

#slide-1{
    background-image: url('https://boc.lk/image/data/Banner/200Day_investment-2022-Sept-Web.jpg');
}

#slide-2{
    left: 100%;
    background-image: url('https://boc.lk/image/data/Banner/Pita-pita_season-3-2022-E.jpg');
}

#slide-3{
    left: 200%;
    background-image: url('https://boc.lk/image/data/Banner/SDA-2022-09.jpeg');
}

#slide-4{
    left: 300%;
    background-image: url('https://boc.lk/image/data/Banner/Top1000_2022-En_1.jpg');
}

#slide-5{
    left: 400%;
    background-image: url('https://boc.lk/image/data/Banner/green-loan-2022.jpeg');
}

#slide-6{
    left: 500%;
    background-image: url('https://boc.lk/image/data/Banner/power-branch-close-2022-En-1.jpg');
}

#slides-wrapper{
    width: 100%;
    position: relative;
    animation-name: slider-animation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes slider-animation {
    0%, 10%{
        left: 0;
    }

    16%, 26%{
        left: -100%;
    }

    32%, 58%{
        left: -200%;
    }

    64%, 76%{
        left: -300%;
    }

    82%, 94%{
        left: -400%;
    }

    100%{
        left: -500%;
    }
}


/* cols */

main>.row>.container>.col{
    float: left;
    width: 25%;
    height: 80px;
    padding: 0 10px;
    background-clip: content-box;
}

main>.row:nth-child(3){
    padding-top: 20px;
    height: 245px;
    /* background-color: lightcoral; */
}

main>.row:nth-child(3)>.container>.col:nth-child(1){
    background-color: red;
}

main>.row:nth-child(3)>.container>.col:nth-child(2){
    background-color: yellow;
}

main>.row:nth-child(3)>.container>.col:nth-child(3){
    background-color: green;
}

main>.row:nth-child(3)>.container>.col:nth-child(4){
    background-color: blue;
}

main>.row:nth-child(3)>.container>.col img{
    width: 100%;
    display: block;
    transition: transform 500ms;
}


main>.row:nth-child(3)>.container>.col>.wrapper{
    overflow: hidden;
    position: relative;
}

main>.row:nth-child(3)>.container>.col>.wrapper>.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.7);
}

main>.row:nth-child(3)>.container>.col>.wrapper>.topic:hover{
    background-color: yellow;
    color: #1f1f1f;
}

main>.row:nth-child(3)>.container>.col .topic{
    position: relative;
    padding: 10px;
    text-align: center;
    background-color: #525252;
    color: white;
    z-index: 1;
    transition: background-color 500ms;
}

main>.row:nth-child(3)>.container>.col:hover img{
    transform: scale(1.2);
    width: 100%;   
}

main>.row:nth-child(3)>.container>.col:hover .overlay{
    display: block;
}

/* call bar */

main>.row:last-child{
    padding-bottom: 10px;
}

main>.row:last-child>.container>.col{
    float: left;
    /* background-color: purple; */
}

main>.row:nth-child(4)>.container>.col:nth-child(1),
main>.row:nth-child(4)>.container>.col:nth-child(3){
    padding: 15px;
    width: 25%;
    color: #1f1f1f;
    text-align: right;
    /* background-color: green; */
}

main>.row:nth-child(4)>.container>.col:nth-child(1)>p:first-of-type,
main>.row:nth-child(4)>.container>.col:nth-child(3)>p:first-of-type{
    padding-bottom: 15px;
    font-size: 18px;
    /* background-color: green; */
}

main>.row:nth-child(4)>.container>.col:nth-child(1)>p:last-of-type{
    font-size: 20px;
}

main>.row:nth-child(4)>.container>.col:nth-child(1)>p:last-of-type ion-icon{
    color: #8a8a8a;
    padding-right: 15px;
}

main>.row:nth-child(4)>.container>.col:nth-child(2){
    /* background-color: yellow; */
    width: 50%;
    text-align: center;
    padding-top: 20px;
}


main>.row:last-child>.container>.col:last-child>p:last-of-type{
    font-size: 0.75rem;
    color: #8a8a8a;
}


/* footer */

footer .row{
    padding-top: 10px;
    position: relative;
    background-color: #808285;
}

#copyright-row{
    background-color: #ffde00;
}

#copyright-row>.container{
    padding: 16px 0;
    text-align: center;
    color: #515254;
    font-size: 0.7rem;
}

#username{
    color: #515254;
}

footer>.row .col{
    float: left;
    width: 25%;
    height: 215px;
    padding-top: 10px;
}


footer>.row .col h3{
    padding-bottom: 16px;
    color: #FFFFFF;
}

footer>.row .col nav li{
    line-height: 1.2rem;
    color: #FFFFFF;
}

footer>.row .col nav li a{
    color: #FFFFFF;
}

footer>.row .col nav li a:hover{
    color: #ff9d1e;
}

footer>.row .col:last-child{
    padding-left: 15px;
    background-color: #515254;
    position: relative;
    z-index: 1;
}

footer>.row #col-4{
    padding-left: 15px;
    font-size: 0.8rem;
}

footer>.row .col:last-child{
    padding-left: 15px;
    background-color: #515254;
    position: relative;
    z-index: 1;
}

footer>.row .col:last-child p{
    padding-bottom: 8px;
    color: white;
    font-size: 0.75rem;
    line-height: 1.1rem;
}

#tel-2{
    padding-left: 23px;
}

footer>.row{
    position: relative;
}

footer>.row::after{
    position: absolute;
    /* z-index: -1; */
    display: block;
    content: "";
    height: 100%;
    background-color: #515254;
    width: 30%;
    top: 0;
    right: 0;
    bottom: 0;
}

/* aside */

aside{
    font-weight: bold;
    background-color: #1f1f1f;
    position: fixed;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transform: rotate(270deg);
    right: -38px;
    bottom: 25%;
    z-index: 99999;
}

aside:hover{
    right: -35px;
}

aside a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

aside a ion-icon{
    color: black;
    font-size: 1rem;
    vertical-align: middle;
    transform: rotate(90deg);
}

#bubble-wrapper{
    position: relative;
    display: inline-block;
    background-color: #ffde00;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 4px;
}

#bubble-wrapper::before{
    display: block;
    content: "";
    background-color: #ffdd0057;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* z-index: 1; */
    border-radius: 100%;
    width: 5px;
    height: 5px;
    animation-name: wave;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes wave {
    from{
        transform: scale(0);
        opacity: 1;
    }
    to{
        transform: scale(15);
        opacity: 0.5;
    }
}

#popup{
    position: fixed;
    left: 10px;
    bottom: 40px;
    width: 450px;
    background-color: #8a8a8aef;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 6px 1px #000000ab
    ;
}

#close-wrapper{
    position: absolute;
    padding: 5px 0;
    cursor: pointer;

} 

#close-wrapper:hover{
    color: rgb(241, 241, 241)
}

#close-wrapper ion-icon{
    vertical-align: sub;
    margin-right: 5px;
    background-color: rgba(255, 94, 0);
    border-radius: 100%;
    padding: 1.5px;
    font-size: 1.2rem;
}

#popup p:last-child{
    padding-top: 5px;
    line-height: 1.2rem;
    font-size: 0.9rem;
    text-align: justify;
}

#warning{
    padding-top: 10px;
    padding-left: 160px;
    color: rgb(202, 38, 106);
    /* background-color: green; */
    font-size: 1.2rem;
}
